#blog {
    padding: 88px 0 80px;
    @include media-tablet {
        padding: 60px 0 10px;
    }
    @include media-mobile {
        padding: 30px 0 30px;
    }
}

.blog__title {
    font-size: 3.2rem;
    line-height: 38px;
    text-align: center;
    @include media-mobile {
        font-size: 2.5rem;
    }
}

.blog__subtitle {
    font-size: 1.8rem;
    line-height: 24px;
    text-align: center;
    padding: 23px 0 70px;
    @include media-tablet {
        padding: 15px 0 30px;
    }
    @include media-mobile {
        font-size: 1.6rem;
    }
}

.blog-content {
    background: url("../img/Media.png");
    background-position: left;
    background-repeat: no-repeat;
    background-color: #231f20;
    padding: 63px 0 50px 478px;
    color: #ffffff;
    @include media-tablet {
        padding: 43px 0 50px 378px;
        background-size: 50%;
    }
    @include media-mobile {
        background-image: none;
        padding: 30px 0 30px 30px;
    }
}

.blog-content__author {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

.blog-content__title {
    font-size: 4.8rem;
    line-height: 58px;
    padding: 27px 0 60px;
    @include media-tablet {
        font-size: 2.8rem;
        line-height: 38px;
    }
    @include media-mobile {
        font-size: 2rem;
        line-height: 28px;
        padding: 17px 0 30px;
    }   
}

.blog-content__info {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: 300;
    @include media-tablet {
        font-size: 1.5rem;
    }
}

.primary-articles {
    display: flex;
    @include media-mobile {
        flex-direction: column;
    }
}

.blog-article {
    width: 50%;
    margin: 40px 30px 80px;
    padding: 48px 48px 50px 48px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    @include media-tablet {
        margin: 40px 15px 50px;
        padding: 28px 28px 30px 28px;
    }
    @include media-mobile {
        width: 100%;
        margin: 20px 0 20px;
        padding: 28px 28px 30px 28px;
    }

}

.blog-article__title {
    font-size: 2.4rem;
    line-height: 34px;
    @include media-tablet {
        font-size: 2rem;
        line-height: 24px;
    }
}

.blog-article__description {
    font-size: 1.8rem;
    line-height: 25px;
    padding: 16px 0;
    @include media-tablet {
        font-size: 1.5rem;
    }
}

.blog-article__info {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #000000;
    padding-bottom: 50px;
}
