.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation__item {
    text-decoration: none;
    font-size: 1.8rem;
    margin-left: 26px;
    font-style: normal;
    color: #000000;
}

.logo {
    font-family: "Homemade Apple", cursive;
    font-size: 1.8rem;
    line-height: 39px;
    color: #000000;
}

.header-button {
    border: 1px solid #f7941e;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    padding: 13px 24px;
    text-transform: uppercase;
    color: #f7941e;
    background: #ffffff;
}
